<app-header></app-header>

<div class="container bootstrap snippets bootdey mt-5 pt-5">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div *ngIf="user; else noUser">
          <div class="user-heading round">
            <a href="#">
              <img
                [src]="user.avatar || 'https://bootdey.com/img/Content/avatar/avatar5.png'"
                alt=""
              />
            </a>
            <h1>{{ user.username }}</h1>
          </div>

          <div class="panel text-center">
            <p>{{ user.role }}</p>
            <p>{{ user.email }}</p>
            <p>Joined on: {{ user.CDate | timeAgo }}</p>
            <p>Followers: {{ user.followersCount }} | Following: {{ user.followingCount }}</p>
            <div *ngIf="!user.mine; else editTpl">
              <button
                *ngIf="user.follow; else followTpl"
                class="btn btn-secondary"
                (click)="toggleFollow()"
              >
                Unfollow
              </button>

              <ng-template #followTpl>
                <button class="btn btn-primary" (click)="toggleFollow()">Follow</button>
                <img
                  src="/media/alert-icon.png"
                  width="30px"
                  height="30px"
                  (click)="showReportSection()"
                />
              </ng-template>
            </div>

            <ng-template #editTpl>
              <button class="btn btn-secondary" (click)="navigateToEditProfile()">Edit</button>
            </ng-template>
          </div>
        </div>

        <ng-template #noUser>
          <p>No user yet</p>
        </ng-template>
      </div>
    </div>

    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="bio-graph-heading" *ngIf="user; else noUser">
          {{ user.bio || 'here where should the bio to be' }}
        </div>
      </div>

      <div class="mt-4">
        <div *ngIf="!loading && user.posts != null">
          <div *ngFor="let post of user.posts">
            <app-post [post]="post" [desc]="true" style="width: 100%"></app-post>
            <br />
          </div>
        </div>

        <p *ngIf="!loading && user.posts.length === 0" class="text-muted text-center">
          No posts available.
        </p>
      </div>
    </div>
  </div>
</div>

<app-report
  [visible]="showReport"
  [id]="user.id"
  [user]="true"
  (closed)="showReport = false"
  (reported)="handleReport($event)"
>
</app-report>

<app-dialog
  [visible]="showDialog"
  [message]="dialogMessage"
  [title]="dialogTitle"
  (closed)="showDialog = false"
></app-dialog>
